#home {
  position: relative;
  background-color: var(--black-color);
  background-image: url("../../assets/bgWhite.png");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;

  .app__wrapper {
    padding: 0;

    .copyright {
      display: none;
    }
  }
}

.app__header {
  flex: 1;
  width: 100%;
  height: 100vh;
  flex-direction: row;
  padding: 5rem 2rem 0;
  position: relative;

  @media screen and (min-width: 2000px) {
    padding-top: 7rem;
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }

  @media screen and (max-width: 450px) {
    padding: 5rem 2rem 0;
  }
}

.app__header-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;

  margin: 0 2rem;

  @media screen and (max-width: 1200px) {
    margin: 0rem;
    height: auto;
  }
}

.app__header-badge {
  position: relative;
  bottom: 75vh;
  left: 2rem;
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  h1 {
    font-size: 2rem;
  }

  .badge-cmp,
  .tag-cmp {
    padding: 1rem 2rem;
    background: var(--white-color);
    border-radius: 15px;
    flex-direction: row;
    width: auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }

  .tag-cmp {
    flex-direction: column;
    margin-top: 3rem;

    p {
      width: 100%;
      text-transform: uppercase;
      text-align: right;
      font-size: 1rem;
    }
  }

  span {
    font-size: 2.5rem;

    @media screen and (min-width: 2000px) {
      font-size: 5rem;
    }

    @media screen and (max-width: 500px) {
      font-size: 2rem;
    }
  }

  @media screen and (max-width: 1400px) {
    bottom: 60vh;
  }

  @media screen and (max-width: 1200px) {
    width: 10vw;
    bottom: 35vh;
    left: 2rem;
  }
}

.app__header-circles {
  flex: 0.75;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  margin-left: 1rem;

  div {
    width: 100px;
    height: 100px;
    border-radius: 50%;

    background: var(--white-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

    img {
      width: 60%;
      height: 60%;
    }
  }

  // circles with different height & width

  div:nth-child(1) {
    width: 100px;
    height: 100px;
  }

  div:nth-child(2) {
    margin: 1.75rem;
    width: 150px;
    height: 150px;
  }

  div:nth-child(3) {
    width: 70px;
    height: 70px;
  }

  @media screen and (min-width: 2000px) {
    div:nth-child(2) {
      width: 400px;
      height: 400px;
    }

    div:nth-child(3) {
      width: 170px;
      height: 170px;
    }

    div:nth-child(1) {
      width: 200px;
      height: 200px;
    }
  }

  @media screen and (max-width: 1200px) {
    // width: 100%;
    // flex-direction: row;
    // flex-wrap: wrap;
    // margin-left: 0;

    // div {
    //   margin: 1rem;
    // }
    display: none;
  }
}

.app__header-img {
  flex: 1;

  display: flex;
  justify-content: flex-end;

  img {
    width: 25vw;
    z-index: 1;

    @media screen and (max-width: 1200px) {
      width: 45vh;
    }
  }

  .overlay_circle {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: auto;
    height: auto;
  }

  @media screen and (max-width: 1200px) {
    margin: 0 0;
    position: absolute;
    bottom: 0;
  }
}

.app__header-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;

  @media screen and (max-width: 1200px) {
    align-items: center;
  }
}
